<%- include("partials/head.ejs") %> 

    
    <header>
        <nav id="nav">
            <a href="#"><img src="/assets/fakebookicon.png" alt=""></a>
            <a href="/"><button><i class="fas fa-home"></i></button></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><button><i class="fas fa-utensils"></i></button></a>
            <a href="https://www.youtube.com/channel/UCpsBIC82s8NhGjvp_c0Al_w" target="_blank" rel="noopener noreferrer"><button><i class="fab fa-youtube"></i></button></a>
            <a href="https://thehilogame.herokuapp.com" target="_blank" rel="noopener noreferrer"><button><i class="fas fa-gamepad"></i></button></a>
            <a href="https://punto-g-app.herokuapp.com" target="_blank" rel="noopener noreferrer"><button><i class="fas fa-kiss-wink-heart"></i></button></a>
            <a href="#"><div class="photoUser" style="background-image: url(<%=userPhoto%>)"></div></a>
            <a href="/user/logOut"><button><i class="fas fa-sign-out-alt"></i></button></a>
        </nav>
    </header>
    <main>
        <div id="contactContainer">
            <div id="inputSearch">
                <input class="search" type="text" placeholder="Buscar contacto">
                <div class="addContainer">
                    <form action="/user/friend/<%=userId%>" method="POST">
                        <input type="text" name="email" placeholder="Agregá un contacto">
                        <button><div class="addFriend"></div></button>
                        <div class='messageError'>
                            <% if(error){%>
                                <p><%= error.includes('usuario') ? error : 'Ha ocurrido un error, intente mas tarde.' %></p> 
                            <%}%> 
                        </div>    
                    </form>
                </div>
            </div>
            <ul>
                <% contacts.forEach(contact => { %>
                    <li id="list">
                        <div class="infoContact">
                            <% if (contact._id !== userId) {%>
                                <div class="photoUser" style="background-image:url(<%=contact.src%>)"></div>
                                <p class="contactName"><%=contact.name%></p>
                            <% } %>
                        </div>
                        <div id="buttonContact">
                            <button><div class="addF"></div></button>
                            <button><a href="/user/contact/<%= contact._id %>" title="Ver perfil"><div class="profile"></div></a></button>
                        </div>
                    </li>
                <% }) %>
            </ul>
                <a id="anchorIcon" href="#windowAdd"><div id="addIcon" title="Agregá tu contacto personalizado"></div></a>
                <div id="windowAdd" class="modal">
                    <div class="windowPopUp">
                      <a href="#" style='text-decoration:none;'>
                        <i class="fas fa-window-close"></i>
                      </a>
                        <form id="formAdd" action="/user/data/<%= userId %>" method="POST">
                            <input type="text" name="name" placeholder="Nombre">
                            <input type="text" name="lastName" placeholder="Apellido">
                            <input type="text" name="phone" placeholder="Número de teléfono">
                            <input type="text" name="email" placeholder="Email">
                            <input type="text" name="src" placeholder="Foto">
                            <input type="text" name="coverSrc" placeholder="Foto de portada">
                            <input type="text" name="city" placeholder="Ciudad">
                            <input type="text" name="street" placeholder="Calle">
                            <input type="text" name="num" placeholder="Número">
                            <input type="submit" value="Crear">
                        </form>
                    </div>  
                </div>
        </div>
        <div id="chatSector">
            <div id="chatPeople">
                <!-- <div class="bubble" style="background: rgb(167, 165, 165); border-color: rgb(167, 165, 165)">
                    <h3>Cómo andás, perrito malvado</h3>
                </div>
                <div class="bubbleDos" style="background: rgb(167, 165, 165); border-color: rgb(167, 165, 165);">
                    <h3>De diez</h3>
                </div> -->
            </div>
            <div id="sendChat">
                <textarea name="" id="" ></textarea>
                <button><div class="send"></div></button>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/f119dc4da4.js" crossorigin="anonymous"></script>   
</body>
</html>



